.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
background: salmon;
}

body {
    display: flex;
    flex-direction: column;
}

.container.grid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    gap: 100px;
}

#changeSize {
    margin-left: 50px;
}

h1 {    
    text-align: center;    
}
